* {
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
}

.calculator {
  margin-top: 10px;
  width: 400px;
  height: 670px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000;
}

.cal-name h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  margin: 30px 59px;
}

.cal-name h2 span {
  color: #fd8900;
}

.cursor h2 {
  text-align: right;
  font-size: 64px;
  font-weight: 400;
  margin-right: 20px;
}

.tugma {
  display: inline-flex;
  margin: 10px;
}
.tugma div {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #fd8900;
  border-radius: 50%;
  color: #fff;
  /* text-align: center; */
}
.tugma div h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
}

.nol div {
  margin-left: 10px;
  width: 165px;
  height: 75px;

  border-radius: 10px;
}
.nol div h2 {
  text-align: left;
}

.qator .tugma div {
  background: #d9d9d9;
  color: #000;
}

.qator .tugma:nth-last-child(1) div {
  background: #fd8900;
  color: #fff;
}
